body {
  padding-top: 56px;
  color: #4C3D3D!important;
}

h2 {
  font-size: 26px!important;
}

h4 {
  font-size: 22px!important;
  position: relative!important;
  margin-left: 28px;
  margin-bottom: 18px!important;
  color: #C07F00!important;
}

h4::before {
  position: absolute!important;
  content: "\1F451";
  margin-left: -32px;
  top: -4px;
}

.text-box {
  border: 1px solid #FFD95A;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

a {
  color: #C07F00!important;
}

a:hover, .short-link:hover {
  color: #FFD95A!important;
}

.short-link:hover {
  font-weight: bold;
}

small {
  font-style: italic;
}

li{
  list-style: none;
}

.bg-container li::before{
  content: "\1F449   ";
}

.navbar {
  background-color: #FFD95A;
  padding: 0!important;
}

.nav-item {
  margin-left: 110px;
}

.bg-container {
  background-color: #FFF7D4;
  padding-top: 24px;
  background-image: url("images/background.png");
  background-repeat: round;
}

.dropdown-menu {
  top: 40px!important;
  background-color: #C07F00!important;
}

.dropdown-toggle {
  font-size: 18px!important;
}

.dropdown-item {
  color: white!important;
}

.dropdown-item:hover, .nav-link:hover, .excel-link:hover, #submit-btn, .bookmaker-box {
  color: #4C3D3D!important;
}

#logo {
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

#img-barres-extension {
  width: 60%;
  height: 60%;
}

.bookmaker-box {
  width: 100px;
  height: 52px;
  font-size: 14px!important;
  pointer-events: none;
}

.bookmaker-box, .download-button, #submit-btn {
  background-color: #FFD95A!important;
  border: none!important;
}

#submit-btn {
  height: 40px;
}

.excel-link {
  text-decoration: none;
}

video {
  display: block;
  margin: auto;
}

label {
  font-size: 20px;
  color: #C07F00;
}
